@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



body,
html {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0a012b;
}

.heading-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.heading-image {
    width: 100%;
    opacity: 0.5;
}

.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    font-family: "DM Sans", sans-serif;
    color: white;
}

h2 {
    font-family: "DM Sans", sans-serif;
    color: #ffde59;
    font-size: 2em;
    text-align: center;
}

.line {
    width: 76%;
    height: 2px;
    background-color: white;
    margin: 20px auto;
}

h5 {
    font-size: 1.2em;
    line-height: 0 em;
    font-weight: 200;
    font-family: "DM Sans", sans-serif;
    color: white;
}



figcaption,
p {
    line-height: 1.6em;
    font-size: 1.2em;
    font-family: "Lora", serif;
}

p {
    color: white;
}

.container {
    max-width: 850px;
    margin: 0 auto;
    padding: 10px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}


.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



animated_img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    /* transition: opacity 1s ease-in-out; */
}


.scene {
    height: 50vh;
    text-align: center;
    display: flex;
    margin-top: 200px;
    background-color: beige;
    margin: 25vh auto;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    width: 500px;
}

/* .container {
    display: flex;
    justify-content: space-evenly;
} */

.placeholder {
    background-color: white;
    height: 200px;
    text-align: center;
}

.graphic-container, .slide-containers {
    max-width: 50%;
}

.graphic-container {
    position: sticky;
    display: flex;
    align-items: center;
    height: 100vh;
    top: 0px
}

#cat_img {
    height: 300px;
}

#graphic-text {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 300px;
}

.scene.active {
    background-color: aqua;
}


/* small image formatting */

.smallimage {
    display: flex;
    align-items: flex-start;
  }

  .image {
    width: 65%;
    max-width: 800px;
    height: auto;
    float: right;
  }

  .caption {
    background-color: #b83b3b;
    padding: 20px;
    width: 35%;
    /* max-width: 400px; */
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top: 100px;
    left: 0;
  }

  .figcaption {
    color: white;
  }

  @media (max-width: 600px) {
    .container {
      flex-direction: column;
    }

    .image {
      width: 100%;
      float: none;
    }

    .caption {
      width: 100%;
    }
  }


/* dark icon formatting */
.icon_dark,
.icon_yellow {
    width: 30px;
    height: 30px;
    /* opacity: 0.2; */
}



/* scroll formatting */
.scroll_container {
    height: 2000px; /* Adjust as needed */
  }
  
  .scroll_image {
    position: relative;
    width: 100%;
    height: 150vh;
    overflow: hidden;
  }
  
  .imgscrolly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
  }

.bigpicture {
    width: 100%;
    opacity: 0.5;
}



/* cell phone formatting */

@media(max-width: 600px) {



    .smallimage {
        /* Flex box styles go on the flex box element */
        display: flex;
        flex-direction: column;
    }


    .caption {
        background-color: #b83b3b;
        padding: 20px;
        width: 80%;
        /* max-width: 400px; */
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        top: 0;
        left: 0;
      }

      .heading-container {
        position: relative;
        width: 100%;
        height: 800px;
        /* overflow: hidden; */
    }

}

/* format map */
.map {
    display: block;
    margin: auto;
    text-align: center;
}